html
  head
    title='Date Api'
  body
    h1='Date Api'
    p='To use api go to /api/<enter date>, and you will recive a Json object with date as natural and unix timestamp, or null if date is invalid'